:root {
  --color-empty-shade: #fff;
  --color-light-shade: #eaeaea;
  --color-lighter-shade: #edebe6;
  --color-dark-shade: #6f6f66;
  --color-darker-shade: #ecf3d3;
  --color-text: #2d2d26;
  --color-accent: #f4ff56;
  --color-constructive: #109d46;
  --color-destructive: #d94b03;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans,
    Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

[class^="RampText--"] {
  line-height: 1.5;
  font-size: 1rem;
  margin: 0;
}

.RampText--s {
  font-size: 0.75rem;
}

.RampText--hushed {
  color: var(--color-dark-shade);
}

[class^="RampTextHeading--"] {
  margin: 0;
  line-height: 1;
}

.RampTextHeading--l {
  font-size: 2.5rem;
}

.RampGrid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 0.75rem;
  width: 100%;
}

.RampBreak--xs {
  height: 0.5rem;
}

.RampBreak--s {
  height: 0.75rem;
}

.RampBreak--l {
  height: 1.75rem;
}

hr.RampBreak--l {
  height: 1px;
  width: 100%;
  margin: 1.75rem 0;
  border: none;
  background-color: var(--color-light-shade);
}

.RampInputSelect--root {
  width: 100%;
}

.RampInputSelect--input {
  padding: 1rem 0.75rem;
  border: 1px solid var(--color-light-shade);
  border-bottom: 1px solid var(--color-text);
  cursor: pointer;
}

.RampInputSelect--dropdown-container {
  display: none;
  position: absolute;
  width: 100%;
  max-width: 700px;
  border: 1px solid var(--color-darker-shade);
  margin-top: 0.5rem;
  max-height: 16rem;
  overflow: auto;
  box-shadow: rgb(0 0 0 / 10%) 0px 0px 1px, rgb(0 0 0 / 13%) 0px 4px 8px;
}

.RampInputSelect--dropdown-container-opened {
  display: block;
}

.RampInputSelect--dropdown-item {
  padding: 1rem 0.75rem;
  background-color: var(--color-empty-shade);
  border-bottom: 1px solid var(--color-light-shade);
  cursor: pointer;
}

.RampInputSelect--dropdown-item-highlighted {
  background-color: var(--color-lighter-shade);
}

.RampInputSelect--dropdown-item-selected {
  font-weight: bold;
}

.RampInputCheckbox--container {
  display: flex;
}

.RampInputCheckbox--label {
  border: 1px solid var(--color-light-shade);
  background-color: var(--color-lighter-shade);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.125rem;
  width: 1.25rem;
  height: 1.25rem;
  cursor: pointer;
}

.RampInputCheckbox--label-checked:before {
  content: " ";
  width: 100%;
  height: 100%;
  border-color: var(--color-constructive);
  background-color: var(--color-constructive);
}

.RampInputCheckbox--input {
  opacity: 0;
  transform: translate(-16px);
}

.RampButton {
  border: 1px solid var(--color-light-shade);
  background-color: var(--color-light-shade);
  padding: 0.5rem;
  cursor: pointer;
}

.RampButton:hover {
  background-color: var(--color-lighter-shade);
}

.RampButton:disabled {
  cursor: not-allowed;
}

.RampPane {
  padding: 1rem;
  border: 1px solid var(--color-light-shade);
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.RampPane--content {
  flex: 1;
}

.RampLoading--container {
  display: flex;
  justify-content: center;
}

.RampError {
  margin: 4rem auto;
  max-width: 40rem;
  border: 1px solid var(--color-destructive);
  color: var(--color-destructive);
  padding: 2rem;
}

.MainContainer {
  max-width: 700px;
  margin: 0 auto;
  min-height: 100vh;
  padding: 4rem 0;
}

.FilterContainer {
  display: flex;
  justify-content: flex-end;
  gap: 0.75rem;
}
